.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .about__text {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    // color: #fff;
    margin-bottom: 2rem;
  }
  .__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding: 0px 50px;
    text-align: center;
    .main__desc {
      text-align: center;
      font-size: 18px;
    }
  }
  .__bottom {
  }
}
