.toggle{
    width: 50px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .icon{
        width: 15px;
        height: 15px;
        object-fit: cover;
    }
    .__toggle__btn{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #7aff6d;
        position: absolute;
        cursor: pointer;
        transition: all .5s ease-in-out;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}